@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Pretendard", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@keyframes micBlink {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.6);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.6);
  }
}

.mic-active {
  animation: micBlink 1s infinite;
}
